body{margin: 50px; background-color: silver;}
h2{color: red; text-align: center;}
p{background-color: white; text-align: justify;}
#p1{background-color: blue;}
#p2{background-color: rgb(133, 167, 47);}
#p3{background-color: pink;}